<div class="card causes cf">

  <div class="textintro">
    <h1>Add a Cause</h1>
    <p> Type a name of Cause and hit +   </p>
  </div><!-- textintro -->

  <form class="formgroup addcause cf" name="causeForm" ng-submit="addCause()" novalidate>

    <div class="inputwrapper">
      <input type="text" name="causeName" placeholder="Cause name" ng-model="causeName" ng-required="true">
    </div>

    <button type="submit" class="btn" ng-disabled="causeForm.$invalid">+</button>
  </form>

  <h2>Your Causes</h2>
  <div class="cause" ng-repeat="(key, cause) in causes">
    <span class="text"> {{ cause.name }} </span>

  </div>



</div><!-- close causes cf -->
