<!-- Apply Bootstrap to take affect on this page -->
		<link rel="stylesheet" href="js/lib/bower_components/bootstrap/dist/css/bootstrap.css">


<div ng-controller="HomeController">
  <div style="height: 305px">
    <uib-carousel active="active" interval="5000" no-wrap="false" no-pause="false" no-transition="false">
      <uib-slide ng-repeat="slide in slides" index="slide.id">
        <img  ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
          <button>CLICK</button>
        </div>

      </uib-slide>
    </uib-carousel>
  </div>


</div>

<br>

<article >
	<section>
		<h3>cause1</h3>
	</section>

	<section>
		<h3>cause2</h3>
	</section>

	<section>
		<h3>cause3</h3>
	</section>



</article>
