<!-- Apply Bootstrap theme to take affect on this page -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">


<div ng-controller="HomeController">
	<div style="height: 305px">
		<uib-carousel active="active" interval="5000" no-wrap="false" no-pause="false" no-transition="false">
			<uib-slide ng-repeat="slide in slides" index="slide.id">
				<img  ng-src="{{slide.image}}" style="margin:auto;">
				<div class="carousel-caption">
					<!-- <h4>Slide {{slide.id}}</h4> -->
					<!-- <p>{{slide.text}}</p> -->
					<button class="btn donate">Donates</button>
				</div>

			</uib-slide>
		</uib-carousel>
	</div>
</div>

<br>


<div id="map"></div>

<!-- <article class="featBox">
	<section>
		<h3>cause1</h3>
		<div class="featImg"></div>

		<div class="featInfo">
			<p>
				af;dmaf;amf;adfm;adfad;fad;mfa;f
			</p>
		</div>
	</section>
	<hr>

	<section>
		<div class="featImg"></div>

		<div class="featInfo">
				<h3>cause2</h3>
			<p>
				af;dmaf;amf;adfm;adfad;fad;mfa;f
			</p>
		</div>
	</section>
	<hr>

	<section>
		<h3>cause3</h3>
		<div class="featImg"></div>

		<div class="featInfo">
			<p>
				af;dmaf;amf;adfm;adfad;fad;mfa;f
			</p>
		</div>
	</section>

</article> -->
