<div>
  <a ng-href="#/">
    <div class="branding"></div>
  </a>
</div>

<ul>

  <li>
    <a  ng-href="#/causes">Causes
      <span ng-show="howManyCauses" class="badge"> {{howManyCauses}} </span>
    </a>
  </li>
  <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
  <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  <li><a  ng-href="#/">Home</a></li>
</ul>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ng-href="#/">
        <div class="branding navbar-brand"></div>
      </a>
    </div>

    <ul class="nav navbar-nav">

      <li >
        <a ng-show="currentUser" ng-href="#/causes">Causes
          <span ng-show="howManyCauses" class="badge"> {{howManyCauses}} </span>
        </a>
      </li>
      <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
      <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
    </ul>
  </div>
</nav> -->
